<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layout/layout-front-main}">
<head>
	<title>体験申し込み｜エンジョイゴルフ24</title>
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta property="og:image" content="http://">
	<script type="text/javascript" th:src="@{/scripts/sweetalert.min.js??ver=0.01}"></script>
	<script type="text/javascript" th:src="@{/scripts/front/register/index.js??ver=0.01}"></script>
</head>
<div layout:fragment="content"><!-- /** layout contents start */ -->

 <main id="booking">
  <div class="inner">
  <section id="experience">
    <h1>体験申し込み</h1>
    <div class="thanks">
      <p>体験申し込みが完了できました。ありがとうございます。</p>
      <a th:href="@{/public}" class="btn">TOPへ戻る</a>
    </div>
  </section>



    

  </div>
</main>
    
    

  </div>


</body>
</html>
