<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layout/layout-front-main}">
<head>
	<title>体験申し込み｜エンジョイゴルフ24</title>
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta property="og:image" content="http://">
	<script type="text/javascript" th:src="@{/scripts/sweetalert.min.js??ver=0.01}"></script>
	<script type="text/javascript" th:src="@{/scripts/front/register/index.js??ver=0.02}"></script>
</head>
<div layout:fragment="content"><!-- /** layout contents start */ -->

 <main id="booking">
  <div class="inner">
  <section id="experience">
    <h1>体験申し込み</h1>
    <div class="lead">
    お客様情報をご記入ください。
    </div>
    <div class="note"><em>※</em>は必ずご記入をお願い申し上げます。</div>
    
    <form id="form"  method="post" th:action="@{/public/register/finish}" th:object="${publicRegisterForm}">
      <dl>
        <dt>店舗<em>※</em></dt>
        <dd>
        	<select class="search-asp-open" th:field="*{aspCdSelect}" style="display:none;">
			   <option th:each="aspItem : ${aspMap}" th:value="${aspItem.key}" th:text="${aspItem.value}" th:errorclass="fieldError"></option>
			</select>
			<input type="hidden" th:field="*{aspCode}" maxlength="20" th:errorclass="fieldError" readonly>
	        <input type="text" th:field="*{aspNameForPreUser}" maxlength="20" class="search-asp-open" th:errorclass="fieldError" readonly>
		    <p th:if="${#fields.hasErrors('aspCode')}" class="error" th:errors="*{aspCode}"></p>
		    <p th:if="${#fields.hasErrors('aspNameForPreUser')}" class="error" th:errors="*{aspNameForPreUser}"></p>
        </dd>
        <dt>お名前<em>※</em></dt>
        <dd>
	        <input type="text" class="trim" maxlength="20" placeholder="山田" style="width: 240px;" th:field="*{lastName}" th:errorclass="fieldError">
		    <input type="text" class="trim"maxlength="20" placeholder="花子" style="width: 240px;" th:field="*{firstName}" th:errorclass="fieldError">
		    <p th:if="${#fields.hasErrors('lastName')}" class="error" th:errors="*{lastName}"></p>
			<p th:if="${#fields.hasErrors('firstName')}" class="error" th:errors="*{firstName}"></p>
        </dd>
        <dt>ふりがな<em>※</em></dt>
        <dd>
        	<input type="text" class="trim" maxlength="20" placeholder="ヤマダ" style="width: 240px;" th:field="*{lastNameKana}" th:errorclass="fieldError">
		    <input type="text" class="trim" maxlength="20" placeholder="ハナコ"  style="width: 240px;" th:field="*{firstNameKana}" th:errorclass="fieldError">
		    <p th:if="${#fields.hasErrors('lastNameKana')}" class="error" th:errors="*{lastNameKana}"></p>	
			<p th:if="${#fields.hasErrors('firstNameKana')}" class="error" th:errors="*{firstNameKana}"></p>
        </dd>
        <dt>メールアドレス<em>※</em></dt>
        <dd>
        	<input type="text" maxlength="256" placeholder="ユーザ名@ドメイン名" th:field="*{email}" value="" th:errorclass="fieldError" th:classappend="${publicRegisterForm.sameEmailAndEmailConfirm}?'':'fieldError'">
        	<p th:if="${#fields.hasErrors('email')}" class="error" th:errors="*{email}"></p>	
			<p th:if="${#fields.hasErrors('sameEmailAndEmailConfirm')}" class="error" th:errors="*{sameEmailAndEmailConfirm}"></p>
        </dd>
        <dt>メールアドレス（確認用）<em>※</em></dt>
        <dd>
        	<input type="text" maxlength="256" placeholder="ユーザ名@ドメイン名" th:field="*{emailConfirm}" value="" th:errorclass="fieldError" th:classappend="${publicRegisterForm.sameEmailAndEmailConfirm}?'':'fieldError'" autocomplete="off">
        	<p th:if="${#fields.hasErrors('emailConfirm')}" class="error" th:errors="*{emailConfirm}"></p>
			<p th:if="${#fields.hasErrors('sameEmailAndEmailConfirm')}" class="error" th:errors="*{sameEmailAndEmailConfirm}"></p>
        </dd>
        <dt>電話番号（携帯電話可）<em>※</em></dt>
        <dd>
        	<input type="text" th:field="*{phone}" th:errorclass="fieldError" maxlength="20" placeholder="00-0000-0000">
        	<p th:if="${#fields.hasErrors('phone')}" class="error" th:errors="*{phone}"></p>
        </dd>
        <dt>お問い合わせ<em></em></dt>
        <dd>
        	<textarea maxlength="1200" th:field="*{memo}" th:errorclass="fieldError" placeholder="ご希望の日付やご質問の内容などをご記入ください。"></textarea>
        	<p th:if="${#fields.hasErrors('memo')}" class="error" th:errors="*{memo}"></p>
        </dd>
        
      </dl>
      <div style="color:red; text-align: center;">※個人情報の扱いについての文言については受領必要</div>
      <button type="submit" style="margin-top: 20px;">入力内容を送信する</button>
    </form>
  </section>
  </div>
  
  <div class="modal search-asp-modal booking_search" style="display: none;">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
        <div class="js-modal-close" style="cursor: pointer;">閉じる</div>
          <div class="modalcontent_inner">
            
            <dl class="reserve">
        <dt>店舗名</dt>
        <dd><div class="shop">
          <input type="text" class="input-asp-name">
          </div>
        </dd>
        <dt>住所</dt>
        <dd>
          <input type="text" class="input-asp-address">
        </dd>
      </dl>
      <a class="search-ajax-btn user-func" href="" th:url="@{/public/common/searchAsp}">検索</a>
      
      <div class="frame" style="display:none;">
      	  <div class="not-found" style="display:none;">検索結果がないです。</div>
      	  <div class="founded" style="display:none;">
		      <div class="sp_only mb10 tac"><small>一覧は横にスクロールできます。</small></div>
		      <div class="sp_scroll_table">
		        <table class="reserve_list">
		          <thead>
		            <tr>
		                <th width="20%" class="text-center">店舗名</th>
		                <th class="text-center">住所</th>
		                <th width="10%" class="text-center">選択<a class="asp-select-btn" style="display:none;"></a></th>
		            </tr>
		          </thead>
		          <tbody class="asp-result-body">
		          </tbody>
		        </table>
		      	</div>
		    </div>
		</div>  
          </div>  
        </div><!--modal__inner-->
    </div>
  
</main>
    
    

  </div>


</body>
</html>
