<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layout/layout-front-reservation}">
<head>
	<title>新規予約｜エンジョイゴルフ24</title>
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta property="og:image" content="http://">
	<script type="text/javascript" th:src="@{/scripts/sweetalert.min.js??ver=0.01}"></script>
	<script type="text/javascript" th:src="@{/scripts/front/reservation/make.js??ver=0.03}"></script>
</head>
<div layout:fragment="content"><!-- /** layout contents start */ -->

	<h1>部屋予約（新規）<div class="js-modal-open modal-btn">練習場詳細</div></h1>
    <form class="booking_search" id="form"  method="post" th:action="@{/user/reservation/make}" th:object="${reservationMakingForm}">
      <dl class="reserve">
        <dt>店舗<input type="hidden" th:field="*{aspCode}"><input type="hidden" class="aspName" th:value="${aspName}"><input type="hidden" th:field="*{loginUserCd}"></dt>
        <dd><div class="shop">
          <select>
            <option th:text="${aspName}"></option>
          </select>
          </div>
        </dd>
        <dt>予約日</dt>
        <dd>
          <div class="date"><input class="hasDatepicker" type="date" th:field="*{reservationDate}" th:errorclass="fieldError" placeholder="" min='2020-01-01' max='2100-12-31'></div>
          <div class="time">
			<input type="hidden" th:field="*{reservationTime}">
          <select th:field="*{reservationTimeForDisplay}">
          	<option selected value="">時間を選択してください。</option>
		    <option th:each="data , itemStat : ${reservationPointTimeTableAllTime}"
		            th:value="${data.timeSlotName}"
		            th:text="${data.timeSlotName}">
		    </option>
		</select>
          </div>
        </dd>
      </dl>
      <button type="submit" style="margin-bottom:30px;">検索</button>
    
    <div th:if="${batNumbers} != null" class="frame">
      <div class="sp_only mb10 tac"><small>一覧は横にスクロールできます。</small></div>
      <div class="sp_scroll_table">
        <table class="reserve_list">
          <thead>
            <tr>
                <th class="text-center">時間</th>
                <th class="text-center">ポイント</th>
                <th class="text-center" th:each="batnumber, iter : ${batNumbers}"><span th:text="${batnumber}"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="data , itemStat : ${reservationPointTimeTable}" th:data-consumedpoint="${data.pointAmount}" th:data-timeslotname="${data.timeSlotName}" th:data-gradetypecd="${data.gradeTypeCd}">
                <td class="text-center"><span th:text="${data.timeSlotName}"></span></td>
                <td class="text-center"><div th:class="${'circle_min ' +  data.reservationPointCss}"><p th:text="${data.pointAmount + 'P'}"></p></div></td>
                <td class="text-center" th:each="batData, itemStat : ${data.reservationList}" th:data-batnumbercd="${batData.batNumberCd}" th:data-batnumber="${batData.batNumber}">
                <span th:if="${batData.expireFlag == '1' && (batData.memberCode == null || batData.memberCode != loginUserCd)}">×</span>
                <span th:if="${batData.memberCode == loginUserCd}">私</span>
                <span th:if="${batData.expireFlag == '0'}">
                  <span th:if="${batData.emptyFlag == '0' && batData.memberCode != loginUserCd}">×</span>
                  <span th:if="${batData.emptyFlag == '1'}"><a id="btnRegisterBooking" class="c-link-text text-blue user-func" href="#">〇</a>(<span th:text="${data.pointAmount}">P</span>)</span>
                </span>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
</form>
 <form id="registerForm"  method="post" th:action="@{/user/reservation/finish}" th:object="${memberReservationRegisterForm}">
   	  <input type="hidden" th:field="*{reservationDate}">
   	  <input type="hidden" th:field="*{reservationTime}">
   	  <input type="hidden" th:field="*{batNumberCd}">
   	  <input type="hidden" th:field="*{batNumber}">
   	  <input type="hidden" th:field="*{consumedPoint}">
      <input type="hidden" th:field="*{gradeTypeCd}">
      
      <input type="hidden" th:field="*{aspCode}">
      <input type="hidden" th:field="*{loginUserCd}">
      <input type="hidden" th:field="*{memberCode}">
      <input type="hidden" th:field="*{validMonthlyPoint}">
      <input type="hidden" th:field="*{monthlyPoint}">
      <input type="hidden" th:field="*{validEventPoint}">
      <input type="hidden" th:field="*{eventPoint}">
      
      <input type="hidden" th:field="*{pointCategoryCode}">
      
      <input type="hidden" th:field="*{reservationId}" value="">
      <input type="hidden" th:field="*{reservationNumber}">
      <input type="hidden" th:field="*{valid}">
      <input type="hidden" th:field="*{limitReservationCount}">
      <input type="hidden" th:field="*{limitMonthlyReservationCount}">
      <input type="hidden" th:field="*{limitEventReservationCount}">
      <input type="hidden" th:field="*{limitReservationPoint}">
      <input type="hidden" th:field="*{penaltyPoint}">
      <input type="hidden" th:field="*{hasChanged}">
      <input type="hidden" th:field="*{searchTime}">
      
      <input type="hidden" th:field="*{reservationCnt}">
      <input type="hidden" th:field="*{reservationPoint}">
    </form>
</body>
</html>
