<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<script type="text/javascript">
	if((navigator.userAgent.indexOf('iPhone') > 0) || navigator.userAgent.indexOf('iPod') > 0 || (navigator.userAgent.indexOf('Android') > 0 && navigator.userAgent.indexOf('Mobile') > 0)){
	        document.write('<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">');
	    }else{
	        document.write('<meta name="viewport" content="width=1200,user-scalable=yes">');
	    }
	</script>
	<noscript><meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"></noscript>
    <title>エンジョイゴルフ24</title>
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<meta property="og:image" content="http://">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="ja">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" th:href="@{/css/front/normalize.css}" media="all" />
	<link rel="stylesheet" th:href="@{/scripts/slick/slick.css}" media="all" />
	<link rel="stylesheet" th:href="@{/scripts/slick/slick-theme.css}" media="all" />
	<link rel="stylesheet" th:href="@{/css/front/modal-video.min.css}" media="all" />
	<link rel="stylesheet" th:href="@{/css/front/common.css}" media="all" />
	<script type="text/javascript" th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/scripts/slick/slick.min.js??ver=0.01}"></script>
	<script type="text/javascript" th:src="@{/scripts/front/jquery-modal-video.min.js??ver=0.01}"></script>
	<script type="text/javascript" th:src="@{/scripts/front/common.js??ver=0.01}"></script>
	<script type="text/javascript" th:src="@{/scripts/common.js??ver=0.02}"></script>
</head>

<body id="top" >
	<div id="allwrap">
	    <div layout:replace="~{front/layout/header-reservation::header}"></div>
	    <main id="booking">
	    <div class="modal js-modal" style="display: none;">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
        <div class="js-modal-close" style="cursor: pointer;">閉じる</div>
          <div class="modalcontent_inner">
            <ul class="booking_list">
              <li class="wide"><span>待機室＆Cafe</span></li>
              <li class="wide checked"><span>301</span><em>Premier</em><div class="circle green"><p>50P</p></div></li>
              <li><span>201</span><div class="circle"><p>30P</p></div></li>
		      <li><span>202</span><div class="circle"><p>30P</p></div></li>
		      <li class="wide"><span>101</span><div class="circle green"><p>50P</p><div></div></li>
		      <li><span>B101</span><div class="circle"><p>30P</p></div></li>
		      <li><span>B102</span><div class="circle"><p>30P</p></div></li>
            </ul>
          </div>  
        </div><!--modal__inner-->
    </div>
	    	<div class="inner">
	    		<section>
	    			<div layout:replace="~{layout/common-error :: errors}"></div>
	    			<div id="memberdata">
				      <dl>
				        <dt>会員番号：</dt><dd><span th:text="${#authentication.principal.getUser().getMemberCode()}"></span></dd>
				        <dt>お名前：</dt><dd><span th:text="${#authentication.principal.getUser().getUserName()}"></span></dd>
				        <dt>保有月P：</dt><dd><span th:text="${currentMonth + '月 ' + currentMonthlyPoint + 'P / '}"></span><span th:text="${nextMonth + '月 ' + nextMonthlyPoint + 'P'}"></span></dd>
				        <dt>保有イベントP：</dt><dd><span th:text="${validEventPoint + 'P'}"></span></dd>
				      </dl>
				      <dl th:unless="${#lists.isEmpty(reservationList)}" th:each="reservationItem,iter : ${reservationList}">
				        <dt>予約<span th:text="${iter.index + 1}"></span>：</dt>
				        <dd><span class="js-cancel reservation-cancel" th:url="@{/user/reservation/cancel}" th:value="${reservationItem.reservationId}" th:text="${#strings.replace(reservationItem.reservationDate, '-', '/') + '　' + reservationItem.reservationTime}"></span></dd>
				      </dl>
				    </div>
			        <div id="content" class="clearfix">
			            <div layout:fragment="content" th:remove="tag"></div>
			        </div>
		        </section>
	        </div>
	    </main>
	        <div class="pagetop">
			  <div class="inner">
			    <a href="#top">PAGE TOP</a>
			  </div>
			</div>
	    <div layout:replace="~{front/layout/footer::footer}"></div>
    </div>
</body>
</html>