<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <title>エンジョイゴルフ24</title>
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<meta property="og:image" content="http://">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="ja">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/front/normalize.css}" media="all" />
	<link rel="stylesheet" th:href="@{/scripts/slick/slick.css}" media="all" />
	<link rel="stylesheet" th:href="@{/scripts/slick/slick-theme.css}" media="all" />
	<link rel="stylesheet" th:href="@{/css/front/modal-video.min.css}" media="all" />
	<link rel="stylesheet" th:href="@{/css/front/common.css}" media="all" />
	<script type="text/javascript" th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/scripts/slick/slick.min.js}"></script>
	<script type="text/javascript" th:src="@{/scripts/front/jquery-modal-video.min.js}"></script>
	<script type="text/javascript" th:src="@{/scripts/front/common.js}"></script>
	<script type="text/javascript" th:src="@{/scripts/common.js}"></script>
</head>

<body id="top" >
	<div id="allwrap">
	    <div layout:replace="~{front/layout/header::header}"></div>
	        <div id="content" class="clearfix">
	            <div layout:fragment="content" th:remove="tag"></div>
	        </div>
	        <div class="pagetop">
			  <div class="inner">
			    <a href="#top">PAGE TOP</a>
			  </div>
			</div>
	    <div layout:replace="~{front/layout/footer::footer}"></div>
    </div>
</body>
</html>