<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-main}">
<head>
    <title>予約管理</title>
    <link rel="stylesheet" th:href="@{/css/admin/mypage.css}"></link>
    <script type="text/javascript" th:src="@{/scripts/admin/booking/index.js??ver=0.91}"></script>
</head>
<body>
<div layout:fragment="content"><!-- /** layout contents start */ -->
    <form id="form"  method="post" th:action="@{/admin/booking/top}" th:object="${memberReservationManageListForm}">
        <div class="wrapper mypage-custom-index" id="body-index">
        
        	<section>
                <div class="box-filter m-b-0 c-form-01 text-md" >
                </div>
                <h3 class="c-ttl c-ttl__03 m-b-10">予約情報</h3>
				<table class="table-detail m-b-40" >
	               	<tbody>
					<tr>
						<th class="text-left" width="20%">店舗</th>
                        <td class="text-left" width="30%"><p th:text="${aspName}"></p><input type="hidden" th:field="*{aspCode}"><input type="hidden" th:field="*{loginUserCd}"></td>
						<th class="text-letf" width="20%">予約日時</th>
						<td class="text-letf" width="30%"><input type="text" maxlength="20" placeholder="" th:field="*{reservationDate}" value="" th:errorclass="fieldError"></td>
					</tr>
					</tbody>
               	</table>
               	<div class="align-items-center">
                  <a id="searchBtn" class="c-btn btn-primary m-l-30" href="#" th:url="@{/admin/booking/top}">検索する</a>
       	    	</div>
            </section>

            <div class="box-filter m-b-0 c-form-01 text-md" >
            </div>
            <h3 class="c-ttl c-ttl__03 m-b-10">予約情報</h3> ※<span th:text="${dateType}"></span>
            <section>
            <table class="table-detail m-b-40">
            <tr><!-- 打席マスタ必要 -->
            <th class="text-center">時間</th> 
            <th class="text-center">ポイント</th>
            <th class="text-center" th:each="batnumber, iter : ${batNumbers}"><span th:text="${batnumber}"></span></th>
            </tr>
            <tr th:each="data, itemStat : ${timeSchedule}"　th:data-consumedpoint="${data.consumedPoint}" th:data-timeslotname="${data.timeSlotName}">
                <td class="text-center"><span th:text="${data.timeSlotName}"></span></td>
                <td class="text-center"><span th:text="${data.consumedPoint}"></span></td>
                <td class="text-center" th:each="batData, itemStat : ${data.reservationList}" th:data-batnumbercd="${batData.batNumberCd}" th:data-batnumber="${batData.batNumber}">
                <span th:if="${batData.expireFlag == '1'}">×</span>
                <span th:if="${batData.expireFlag == '0'}">
                  <span th:if="${batData.emptyFlag == '0'}"></span>
                  <span th:if="${batData.emptyFlag == '1'}"><a id="btnRegisterBooking" class="c-link-text text-blue user-func" href="#" th:url="@{/admin/booking/register}">〇</a>(<span th:text="${batData.consumedPoint}">P</span>)</span>
                </span>
                <span th:text="${batData.memberCode}"></span>
                </td>
            </tr>
            </table>
            </section>

<!---------------------
            <section>
            <table class="table-detail m-b-40">
            <tr>
            <th class="text-center">打席番号</th>
            <th class="text-center">時間</th>
            <th class="text-center">消費ポイント</th>
            <th class="text-center">予約有無</th>
            <th class="text-center">会員コード</th>
            </tr>
            <tr th:each="data , itemStat : ${modelMemberReservationList}"　th:data-batnumbercd="${data.batNumberCd}" th:data-batnumber="${data.batNumber}" th:data-consumedpoint="${data.consumedPoint}" th:data-timeslotname="${data.timeSlotName}">
                <td class="text-center"><span th:text="${data.batNumber}"></span></td>
                <td class="text-center"><span th:text="${data.timeSlotName}"></span></td>
                <td class="text-center"><span th:text="${data.consumedPoint}"></span></td>
                <td class="text-center">
                   <span th:if="${data.expireFlag == '1'}">-</span>
                   <span th:if="${data.expireFlag == '0'}">
                     <span th:if="${data.emptyFlag == '0'}">×</span>
                     <span th:if="${data.emptyFlag == '1'}"><a id="btnRegisterBooking" class="c-link-text text-blue user-func" href="#" th:url="@{/admin/booking/register}">〇</a>(<span th:text="${data.consumedPoint}">P</span>)</span>
                   </span>
                </td>
                <td class="text-center"><span th:text="${data.memberCode}"></span></td>
            </tr>
            </table>
            </section>
------------------>

        </div>
    </form>

    <form id="registerForm"  method="post" th:action="@{/admin/booking/register}" th:object="${memberReservationRegisterForm}">
   	  <input type="hidden" th:field="*{reservationDate}">
   	  <input type="hidden" th:field="*{reservationTime}">
   	  <input type="hidden" th:field="*{batNumberCd}">
   	  <input type="hidden" th:field="*{batNumber}">
   	  <input type="hidden" th:field="*{consumedPoint}">
    </form>

</div> <!-- /** layout contents finish */ -->
</body>
</html>