<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-main}">
<head>
    <title>一括予約管理</title>
    <link rel="stylesheet" th:href="@{/css/admin/mypage.css}"></link>
</head>
<body>

<div layout:fragment="content"><!-- /** layout contents start */ -->
    <form id="form"  method="post" th:action="@{/admin/booking/macro/finish}" th:object="${macroReservationManageListForm}">

        <div class="wrapper mypage-custom-index" id="body-index">
            <section>
                <h3 class="c-ttl c-ttl__03 m-b-50">一括予約登録・削除　確認</h3>
                <div class="form-register">
                  <section class="m-b-55">
                    <div class="c-box-account m-b-20">
                        <div class="row align-items-start m-b-20">
                          <div class="d-flex justify-content-between align-items-start m-t-10">
                            <span class="text c-ttl c-ttl__04">店舗</span>
                          </div>
                          <div><span th:text="${aspName}"></span><input type="hidden" th:field="*{aspCode}"><input type="hidden" th:field="*{loginUserCd}"></div>
                        </div>

                        <div class="row align-items-start m-b-20">
                          <div class="d-flex justify-content-between align-items-start m-t-10">
                            <span class="text c-ttl c-ttl__04">一括予約名</span>
                          </div>
                          <div><span th:text="*{macroName}"></span><input type="hidden" th:field="*{macroName}"></div>
                        </div>
                       
                        <div class="row align-items-start m-b-20">
                          <div class="d-flex justify-content-between align-items-start m-t-10">
                            <span class="text c-ttl c-ttl__04">予約期間</span>
                          </div>
                          <div>
                          <table>
                          <thead>
                            <tr>
                              <th>　 </th>
                              <th>予約日</th>
                              <th>　</th>
                              <th>予約時間</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><span>FROM:</span></td>
                              <td>
                                <span th:text="*{fromReservationDate}"></span>
                                <input type="hidden" readonly th:field="*{fromReservationDate}"/>
                              </td>
                              <td>　</td>
                              <td>
                                <span th:text="*{fromReservationTime}"></span>
                                <input type="hidden" readonly th:field="*{fromReservationTime}"/>
                              </td>
                            </tr>
                            <tr><td colspan="4"><div class="box-filter m-b-0 c-form-01 text-md" >　</div></td></tr>
                            <tr>
                              <td><span>TO:</span></td>
                              <td>
                                <span th:text="*{toReservationDate}"></span>
                                <input type="hidden" readonly th:field="*{toReservationDate}"/>
                              </td>
                              <td>　</td>
                              <td>
                                <span th:text="*{toReservationTime}"></span>
                                <input type="hidden" readonly th:field="*{toReservationTime}"/>
                              </td>
                            </tr>
                          </tbody>  
                          </table>
                          </div>
                        </div>

                        <div class="row align-items-start m-b-20">
                          <div class="d-flex justify-content-between align-items-start m-t-10">
                            <span class="text c-ttl c-ttl__04">打席番号</span>
                          </div>
                          <div>
                            <p class="badge badge-pill badge-primary c-ttl c-ttl__04" th:each="item : *{chkBatNumbers}" th:text="${item}"></p>
                            <th:block th:each="item : *{chkBatNumbers}"><input type="hidden" name="chkBatNumbers" th:value="${item}"/></th:block>
                          </div>
                        </div>
                    </div>

                  </section>
                </div>  <!-- /** end of form-register */ -->
            
                <div class="c-box-confirm text-center m-b-70">
                <div class="align-items-center registerBtn">
                  <a id="registerBtn" class="c-btn btn-primary btn-confirm m-b-15" href="#" th:url="@{/admin/booking/macro/finish}" autofocus>確認</a>
                </div>
                <div class="align-items-center">
                  <a id="returnBtn" class="btn-continue c-btn btn-primary width-210 swap text-center" href="#" th:url="@{/admin/booking/macro}">戻る</a>
                </div>
                </div>
          　　　　　　　</section>
        </div>
        
    </form>
</div> <!-- /** layout contents finish */ -->
</body>
</html>