<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-main}">
<head>
    <title>一括予約管理</title>
    <link rel="stylesheet" th:href="@{/css/admin/mypage.css}"></link>
</head>
<body>

<div layout:fragment="content"><!-- /** layout contents start */ -->
        <div class="wrapper mypage-custom-index" id="body-index">
        
            <section class="m-b-55">

                <h3 class="c-ttl c-ttl__03 m-b-50">一括予約登録完了</h3>
            　　　　　　         <p class="m-b-50">一括予約登録完了しました。</p>

                <div class="c-box-account m-b-20">
                    <div class="row align-items-start m-b-20">
                      <div class="d-flex justify-content-between align-items-start m-t-10">
                        <span class="text c-ttl c-ttl__04">店舗</span>
                      </div>
                      <div><span th:text="${aspName}"></span></div>
                    </div>

                    <div class="row align-items-start m-b-20">
                      <div class="d-flex justify-content-between align-items-start m-t-10">
                        <span class="text c-ttl c-ttl__04">一括予約名</span>
                        <span class="tag-icon tag-red m-t-5">必須</span>
                      </div>
                      <div><span th:text="${macroName}"></span></div>
                    </div>

                    <div class="row align-items-start m-b-20">
                      <div class="d-flex justify-content-between align-items-start m-t-10">
                        <span class="text c-ttl c-ttl__04">予約番号</span>
                      </div>
                      <div><span th:text="*{reservationNumber}"></span></div>
                    </div>
                   
                    <div class="row align-items-start m-b-20">
                      <div class="d-flex justify-content-between align-items-start m-t-10">
                        <span class="text c-ttl c-ttl__04">予約期間</span>
                      </div>
                      <div>
                      <table>
                      <thead>
                        <tr>
                          <th>　 </th>
                          <th>予約日</th>
                          <th>　</th>
                          <th>予約時間</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span>FROM:</span></td>
                          <td>
                            <span th:text="${fromReservationDate}"></span>
                          </td>
                          <td>　</td>
                          <td>
                            <span th:text="${fromReservationTime}"></span>
                          </td>
                        </tr>
                        <tr><td colspan="4"><div class="box-filter m-b-0 c-form-01 text-md" >　</div></td></tr>
                        <tr>
                          <td><span>TO:</span></td>
                          <td>
                            <span th:text="${toReservationDate}"></span>
                          </td>
                          <td>　</td>
                          <td>
                            <span th:text="${toReservationTime}"></span>
                          </td>
                        </tr>
                      </tbody>  
                      </table>
                      </div>
                    </div>

                    <div class="row align-items-start m-b-20">
                      <div class="d-flex justify-content-between align-items-start m-t-10">
                        <span class="text c-ttl c-ttl__04">打席番号</span>
                      </div>
                      <div>
                        <div>
                          <p class="badge badge-primary c-ttl c-ttl__04" th:each="item : ${chkBatNumbers}" th:text="${item}"></p>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="align-items-center">
                    <a id="searchBtn" class="btn-continue c-btn btn-primary swap text-center" href="#" th:url="@{/admin/booking/search}" th:value="${reservationNumber}" target="reservationNumber">予約検索</a>
                </div>

			    <form id="form"  method="post" th:action="@{/admin/booking/search}" th:object="${memberReservationManageListForm}">
			        <input type="hidden" th:field="*{reservationNumber}" />
			    </form>
			    
          　　　　　　　</section>
        </div>

</div> <!-- /** layout contents finish */ -->
</body>
</html>