<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-main}">
<head>
    <title>一括予約管理</title>
    <link rel="stylesheet" th:href="@{/css/admin/mypage.css}"></link>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://rawgit.com/jquery/jquery-ui/master/ui/i18n/datepicker-ja.js"></script>
    <script>
    var dateformat = 'yy/mm/dd';    
    $( function() {
      // 開始日の設定
      var start = $('#fromDatepicker').datepicker({
          dateFormat: dateformat,
          minDate: 0 ,
          showButtonPanel: true
      }).on("change", function () {
          // 開始日が選択されたとき
          // 終了日の選択可能最小日を設定
          end.datepicker("option", "minDate", getDate(this));
      });
      // 終了日の設定
      var end = $("#toDatepicker").datepicker({
          dateFormat: dateformat,
          minDate: 0,
          showButtonPanel: true
      }).on("change", function () {
          // 開始日が選択されたとき
          // 開始日の選択可能最大日を設定
          start.datepicker("option", "maxDate", getDate(this));
      });
      
      (function(){
          var old_fn = $.datepicker._updateDatepicker;
          $.datepicker._updateDatepicker = function(inst) {
            old_fn.call(this, inst);
            var buttonPane = $(this).datepicker("widget").find(".ui-datepicker-buttonpane");
            var buttonHtml = "<button type='button' class='ui-datepicker-clean ui-state-default ui-priority-primary ui-corner-all'>削除</button>";
            $(buttonHtml).appendTo(buttonPane).click(
              function(ev) {
                $.datepicker._clearDate(inst.input);
            });
          }
      })();
    });

    /**
     * 選択された日付をminDate,maxDate用に変換
     */
    function getDate(element) {
        var date;
        try {
            date = $.datepicker.parseDate(dateformat, element.value);
        } catch (error) {
            date = null;
        }
        return date;
    }    
    </script>

</head>
<body>

<div layout:fragment="content"><!-- /** layout contents start */ -->
    <form id="form"  method="post" th:action="@{/admin/booking/macro/confirm}" th:object="${macroReservationManageListForm}">

        <div class="wrapper mypage-custom-index" id="body-index">
            <section>
                <h3 class="c-ttl c-ttl__03 m-b-50">一括予約登録・削除</h3>
                <div class="form-register">
                  <section class="m-b-55">
                    <div class="c-box-account m-b-20">
                        <div class="row align-items-start m-b-20">
                          <div class="d-flex justify-content-between align-items-start m-t-10">
                            <span class="text c-ttl c-ttl__04">店舗</span>
                          </div>
                          <div><p th:text="${aspName}"></p><input type="hidden" th:field="*{aspCode}"><input type="hidden" th:field="*{loginUserCd}"></div>
                        </div>
                        
                        <div class="row align-items-start m-b-20">
                          <div class="d-flex justify-content-between align-items-start m-t-10">
                            <span class="text c-ttl c-ttl__04">一括予約名</span>
                            <span class="tag-icon tag-red m-t-5">必須</span>
                          </div>
                          <div><input class="c-input" type="text" placeholder="夜間不要打席" th:field="*{macroName}" th:errorclass="fieldError"></div>
                        </div>
                       
                        <div class="row align-items-start m-b-20">
                          <div class="d-flex justify-content-between align-items-start m-t-10">
                            <span class="text c-ttl c-ttl__04">予約期間</span>
                            <span class="tag-icon tag-red m-t-5">必須</span>
                          </div>
                          <div>
	                          <ul class="nav nav-tabs">
	                            <li class="nav-item">
	                              <a href="#reservation1" class="nav-link active" data-toggle="tab">期間指定予約</a>
	                            </li>
	                            <li class="nav-item">
	                              <a href="#reservation2" class="nav-link" data-toggle="tab">繰り返し予約</a>
	                            </li>
	                          </ul>
	                          <div class="tab-content">                             
	                            <div id="reservation1" class="tab-pane active">
		                            <table>
		                            <thead>
		                              <tr>
		                                <th>　 </th>
		                                <th>予約日</th>
		                                <th>　</th>
		                                <th>予約時間    </th>
		                              </tr>
		                            </thead>
		                            <tbody>
		                              <tr>
		                                <td><span>FROM:</span></td>
		                                <td>
		                                  <input class="c-input" type="text" readonly th:field="*{fromReservationDate}" id="fromDatepicker" th:errorclass="fieldError"/>
		                                </td>
		                                <td>　</td>
		                                <td>
		                                  <select class="selectBoxCss select-option width-180"　id="fromReservationTime" name="fromReservationTime">
		                                    <option th:each="data, iter : ${timeTableList}" th:text="${data.timeSlotName}">
		                                  </select>
		                                </td>
		                              </tr>
		                              <tr><td colspan="4"><div class="box-filter m-b-0 c-form-01 text-md" >　</div></td></tr>
		                              <tr>
		                                <td><span>TO:</span></td>
		                                <td>
		                                  <input class="c-input" type="text" readonly th:field="*{toReservationDate}" id="toDatepicker" th:errorclass="fieldError"/>
		                                </td>
		                                <td>　</td>
		                                <td>
		                                  <select class="selectBoxCss select-option width-180" id="toReservationTime" name="toReservationTime">
		                                    <option th:each="data, iter : ${timeTableList}" th:text="${data.timeSlotName}">
		                                  </select>
		                                </td>
		                              </tr>
		                            </tbody>
		                            </table>
	                            </div>
	                            <div id="reservation2" class="tab-pane">
                                    <table>
                                    <thead>
                                      <tr>
                                        <th>　 </th>
                                        <th>予約日</th>
                                        <th>　</th>
                                        <th>予約時間    </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><span>FROM:</span></td>
                                        <td>
                                          <input class="c-input" type="text" readonly th:field="*{fromReservationDate}" id="fromDatepicker" th:errorclass="fieldError"/>
                                        </td>
                                        <td>　</td>
                                        <td>
                                          <select class="selectBoxCss select-option width-180"　id="fromReservationTime" name="fromReservationTime">
                                            <option th:each="data, iter : ${timeTableList}" th:text="${data.timeSlotName}">
                                          </select>
                                        </td>
                                      </tr>
                                      <tr><td colspan="4"><div class="box-filter m-b-0 c-form-01 text-md" >　</div></td></tr>
                                      <tr>
                                        <td><span>TO:</span></td>
                                        <td>
                                          <input class="c-input" type="text" readonly th:field="*{toReservationDate}" id="toDatepicker" th:errorclass="fieldError"/>
                                        </td>
                                        <td>　</td>
                                        <td>
                                          <select class="selectBoxCss select-option width-180" id="toReservationTime" name="toReservationTime">
                                            <option th:each="data, iter : ${timeTableList}" th:text="${data.timeSlotName}">
                                          </select>
                                        </td>
                                      </tr>
                                    </tbody>
                                    </table>
	                            </div>
	                          </div>                   
                          </div>
                        </div>

                        <div class="row align-items-start m-b-20">
                          <div class="d-flex justify-content-between align-items-start m-t-10">
                            <span class="text c-ttl c-ttl__04">打席番号</span>
                            <span class="tag-icon tag-red m-t-5">必須</span>
                          </div>
                          <div>
                            <div class="custom-control custom-checkbox" th:each="item : ${batNumbers}">
                                <input type="checkbox" class="custom-control-input" th:value="${item}" th:field="*{chkBatNumbers}">
                                <label class="custom-control-label c-ttl c-ttl__03" th:for="${#ids.prev('chkBatNumbers')}" th:text="${item}"></label>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="c-box-confirm text-center m-b-70">
                    <div class="align-items-center registerBtn">
                      <a id="registerBtn" class="c-btn btn-primary m-b-30" href="#" th:url="@{/admin/booking/macro/confirm}" autofocus>一括予約登録</a>
                    </div>
                    </div>
                  </section>
                </div>



    
                <section class="reservation_dialog">
                <p class="text-warning" id="reservation_message"></p>
                <span class="m-b-50">一括予約一覧</span>
                <table class="table-search m-b-20" >
                <tr>
                    <th class="text-center" width="10%">店舗名</th>
                    <th class="text-center" width="15%">一括予約名</th>
                    <th class="text-center" width="20%">予約番号</th>
                    <th class="text-center" width="25%">予約期間</th>
                    <th class="text-center" width="20%">打線番号</th>
                    <th class="text-center" width="10%">取消</th>
                </tr>
                
                <div th:if="${pageInfo != null}" >
                <tbody>
                     <tr th:each="data , itemStat : ${pageInfo.list}" th:class="${itemStat.odd}? 'odd' : 'even'">
                        <td class="text-left"><span th:text="${data.aspName}"></span></td>
                        <td class="text-left"><span th:text="${data.macroName}"></span></td>
                        <td class="text-left"><span th:text="${data.reservationNumber}"></span></td>
                        <td class="text-left"><span th:text="${data.fromReservationDate}"></span>　<span th:text="${data.fromReservationTime}"></span><br>
                                                        ～<span th:text="${data.fromReservationDate}"></span>　<span th:text="${data.toReservationTime}"></span></td>
                        <td class="text-left"><span th:text="${data.batNumber}"></span></td>
                        <td class="text-center">
                          <a id="searchBtn" class="badge badge-info" href="#" th:url="@{/admin/booking/search}" th:value="${data.reservationNumber}" target="reservationNumber">予約検索</a><br>
                          <a href="#" class="badge badge-warning">取消</a>
                        </td>
                    </tr>
                </tbody>
                </div>
                </table>
                <div class="m-b-40" th:if="${pageInfo != null}" >
                    <div class="text-center">
                        <span class="text m-r-20" th:if="${pageInfo.isIsFirstPage()}">&lt;前へ</span>
                        <a class="c-link-text m-r-20" th:unless="${pageInfo.isIsFirstPage()}" href="#" th:url="" id="list_prev">&lt;前へ</a>
                        &nbsp;<span th:text="${pageInfo.pageNum}"></span>&nbsp;
                        <span class="text m-l-20" th:if="${pageInfo.isIsLastPage()}">次へ&gt;</span>
                        <a class="c-link-text m-l-20" th:unless="${pageInfo.isIsLastPage()}" href="#" th:url="" id="list_next">次へ&gt;</a>
                    </div>
                    <input type="hidden" th:field="*{pageNo}" th:value="${pageInfo.pageNum}" />
                </div>
                </section>                
                <input type="hidden" th:field="*{reservationNumber}" />
          　　　　　　　</section>
        </div>
        
    </form>
    
</div> <!-- /** layout contents finish */ -->
</body>
</html>