<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-main}">
<head>
    <title>店舗登録</title>
    <link rel="stylesheet" th:href="@{/css/admin/mypage.css}"></link>
    <script type="text/javascript" th:src="@{/scripts/admin/asp/index.js}"></script>
</head>
<body>
<div layout:fragment="content"><!-- /** layout contents start */ -->
    <form id="form"  method="post" th:action="@{/admin/asp/}" th:object="${aspListForm}">
        <div class="wrapper mypage-custom-index" id="body-index">
            <section>
                <h1 class="c-ttl c-ttl__01 m-b-50">店舗管理</h1>
                <h3 class="c-ttl c-ttl__03 m-b-10">店舗検索</h3>
                <div class="c-form-01 m-b-20">
		                <table class="table-search m-b-20" >
		                	<tr>
		                        <th class="text-center" width="20%">店舗番号</th>
		                        <td class="text-left" width="30%"> <input th:field="*{aspCode}" size="30" th:errorclass="fieldError" maxlength="20"/></td>
		                        <th class="text-center" width="20%">店舗名</th>
		                        <td class="text-left" width="30%"> <input th:field="*{aspName}" size="30" th:errorclass="fieldError" maxlength="40"/></td>
		                    </tr>
		                    <tr>
		                        <th class="text-center" >店舗管理者番号</th>
		                        <td class="text-left" > <input th:field="*{managerCode}" size="30" th:errorclass="fieldError" maxlength="20"/></td>
		                        <th class="text-center" >店舗管理者名</th>
		                        <td class="text-left"> <input th:field="*{managerName}" size="30" th:errorclass="fieldError" maxlength="40"/></td>
		                    </tr>
		                    <tr>
		                        <th class="text-center" >住所（漢字）</th>
		                        <td class="text-left" colspan=3 > <input th:field="*{address}" size="70" th:errorclass="fieldError" maxlength="90"/></td>
		                    </tr>
		                </table>
		                
		                <div class="align-items-center">
		                  <a id="searchBtn" class="c-btn btn-primary swap m-l-30" href="#" th:url="@{/admin/asp/manageShop/search}">検索する</a>
		                </div>
                </div>
            </section>
            <section>
                <div class="box-filter d-flex justify-content-between m-b-5 c-form-01 text-md" >
                    <div class="text-number d-flex justify-content-start align-items-center">
                        <span th:text="${pageInfo == null} ? '0' : ${pageInfo.getTotal()}" ></span> 
                        <span class="text-md">件の店舗があります。</span>
                    </div>
                </div>
                <div class="box-filter m-b-0 c-form-01 text-md" >
                </div>
               <table class="table-detail m-b-40" >
                 <tr>
			        <th class="text-center" width="15%">店舗番号</th>
			        <th class="text-center" width="15%">店舗名</th>
			        <th class="text-center" width="55%">住所</th>
			        <th class="text-center" width="15%">操作</th>
			    </tr>
			    <div th:if="${pageInfo != null}" >
			         <tr th:each="data , itemStat : ${pageInfo.list}" th:class="${itemStat.odd}? 'odd' : 'even' ">
				        <td class="text-center">
				            <a id="linkShowDetail" href="#" th:url="@{/admin/asp/manageShop/details}" th:value="${data.aspCode}" target="modAspCode"/><span th:text="${data.aspCode}"/></a>
				        </td>
				        <td class="text-center"><span th:text="${data.aspName}" /></td>
				        <td class="text-left"><span th:text="${data.address1}" /> <span th:text="${data.address2}" /></td>
				        <td class="text-center"><a class="c-link-text text-blue" href="#" th:url="@{/admin/asp/manageShop/details}" th:value="${data.aspCode}" target="modAspCode">変更</a></td>
				    </tr>
			    </div>
               </table>
               <div class="m-b-40" th:if="${pageInfo != null}" >
                    <div class="text-center">
                        <span class="text m-r-20" th:if="${pageInfo.isIsFirstPage()}">&lt;前へ</span>
                        <a class="c-link-text m-r-20" th:unless="${pageInfo.isIsFirstPage()}" href="#" id="list_prev">&lt;前へ</a>
                        &nbsp;<span th:text="${pageInfo.pageNum}"/>&nbsp;
                        <span class="text m-l-20" th:if="${pageInfo.isIsLastPage()}">次へ&gt;</span>
                        <a class="c-link-text m-l-20" th:unless="${pageInfo.isIsLastPage()}" href="#" id="list_next">次へ&gt;</a>
                    </div>
				    <input type="hidden" th:field="*{pageNo}" th:value="${pageInfo.pageNum}" />
				    <input type="hidden" th:field="*{modAspCode}" />
				</p>
               </div>
            </section>
        </div>
    </form>
</div> <!-- /** layout contents finish */ -->
</body>
</html>