<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-main}">
<head>
    <title>ポイント履歴</title>
    <link rel="stylesheet" th:href="@{/css/admin/mypage.css}"></link>
    <link rel="stylesheet" th:href="@{/css/admin/memberInfoManage/index.css}"></link>
    <script type="text/javascript" th:src="@{/scripts/datepicker-for-month.js??ver=0.01}"></script>
    <script type="text/javascript" th:src="@{/scripts/admin/point/index.js??ver=0.02}"></script>
</head>
<body>
<div layout:fragment="content"><!-- /** layout contents start */ -->
    <form id="form"  method="post" th:action="@{/admin/member/pointHistory/details}" th:object="${pointHistoryListForm}">
        <div class="wrapper mypage-custom-index" id="body-index">
            <section>
                <h1 class="c-ttl c-ttl__01 m-b-50">ポイント履歴</h1>                
                <h3 class="c-ttl c-ttl__03 m-b-10">ポイント履歴検索</h3>
                <div class="c-form-01 m-b-20">
		              
		                
		                <table class="table-search m-b-20">
							<tbody>
								<tr>
									<th>会員番号</th>
									<td><input class="c-input" type="text" maxlength="20" placeholder="" th:field="*{memberCode}" th:errorclass="fieldError"><input type="hidden" th:field="*{aspCode}"></td>
									<th>会員名</th>
									<td><input class="c-input" type="text" maxlength="20" placeholder="山田花子"  th:field="*{name}" th:errorclass="fieldError"></td>
								</tr>
								<tr>
									<th>管理者番号</th>
									<td><input class="c-input" type="text" maxlength="20" placeholder="" th:field="*{registerUserCode}" th:errorclass="fieldError"></td>
									<th>管理者名</th>
									<td><input class="c-input" type="text" maxlength="20" placeholder="山田花子"  th:field="*{registerUserName}" th:errorclass="fieldError"></td>
								</tr>
								<tr>
									<th>登録年月</th>
									<td><input type="text" class="c-input calInput" th:field="*{registeredMonth}" required></td>
									<th>適用年月</th>
									<td><input type="text" class="c-input calInput" th:field="*{startMonth}"></td>
								</tr>
							</tbody>
						</table>

		                <div class="align-items-center">
		                  <a id="searchBtn" class="c-btn btn-primary m-l-30" href="#" th:url="@{/admin/member/pointHistory/list}">検索する</a>
		                </div>
                </div>
            </section>
             <section>
                <div class="box-filter d-flex justify-content-between m-b-5 c-form-01 text-md" >
                    <div class="text-number d-flex justify-content-start align-items-center">
                        <span th:text="${pageInfo == null} ? '0' : ${pageInfo.getTotal()}" ></span> 
                        <span class="text-md">件の結果があります。</span>
                    </div>
                </div>
                <div class="box-filter m-b-0 c-form-01 text-md" >
                </div>
               <table class="table-detail m-b-40" >
                 <tr>				        
			        <th style="width: 5%;">履歴番号</th>
					<th>お名前</th>
					<th>ポイント区分</th>
					<th>ポイント数</th>
					<th>使用ポイント</th>
					<th>開始日</th>  
					<th>登録日</th>
					<th>登録者</th>
					<th>各種管理</th>
			    </tr>
			    <div th:if="${pageInfo != null}" >
			         <tr th:each="data , itemStat : ${pageInfo.list}" th:class="${itemStat.odd}? 'odd' : 'even' ">
				        <td th:text="${data.id}"></td>
				        <td th:text="${data.lastName + ' ' + data.firstName}"></td>
				        <td th:text="${data.pointTypeName}"></td>
				        <td th:text="${data.pointAmount}"></td>
				        <td th:text="${data.consumedPoint}"></td>
				        <td th:text="${data.startDateFormatted}"></td>
				        <td th:text="${data.registerDateFormatted}"></td>
				        <td th:text="${data.registerUser}"></td>
				        <td>
				          <a id="linkShowDetail" href="#" th:url="@{/admin/member/pointHistory/details}" th:value="${data.id + ',' + data.memberCode}" target="selectedId,selectedMemberCode" th:text="詳細"/></a>
				        </td>
				    </tr>
			    </div>
               </table>
               <div class="m-b-40" th:if="${pageInfo != null}" >
                    <div class="text-center">
                        <span class="text m-r-20" th:if="${pageInfo.isIsFirstPage()}">&lt;前へ</span>
                        <a class="c-link-text m-r-20" th:unless="${pageInfo.isIsFirstPage()}" href="#" th:url="@{/admin/member/pointHistory/list/prev}">&lt;前へ</a>
                        &nbsp;<span th:text="${pageInfo.pageNum}"></span>&nbsp;
                        <span class="text m-l-20" th:if="${pageInfo.isIsLastPage()}">次へ&gt;</span>
                        <a class="c-link-text m-l-20" th:unless="${pageInfo.isIsLastPage()}" href="#" th:url="@{/admin/member/pointHistory/list/next}">次へ&gt;</a>
                    </div>
				    <input type="hidden" th:field="*{pageNo}" th:value="${pageInfo.pageNum}" />
				    <input type="hidden" th:field="*{selectedId}" />
				    <input type="hidden" th:field="*{selectedMemberCode}" />
               </div>
            </section> 
        </div>
    </form>
</div> <!-- /** layout contents finish */ -->
</body>
</html>