<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div id="global-data" class="data" layout:fragment="data">
    <form id="commonForm" >
        <div style="display:none">
            <input type=hidden id="topMenuId" />
            <input type=hidden id="subMenuId" />
        </div>
    </form>
</div>

</body>