<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div id="global-footer" class="footer" layout:fragment="footer">
  <footer>
  <div class="footer-in">
    <!-- /* <div class="btn-pagetop" id="btn-pagetop">
        <a class="pagetop js-scroll" href="#"><img th:src="@{/images/common/btn_pagetop.png}" alt="Top"></a>
    </div> */ -->
    <div class="footer-utility">
        <div class="footer-left">
          <!-- /*<div class="footer-logo"><a class="pagetop" th:href="@{/}">
             <img th:src="@{/customer/common/img/logo_footer.png}" th:alt="#{titles.system}"></a>  
          </div>*/ -->
        </div> 
        <div class="footer-right">
          <!-- /** <ul class="footer-list-01">
            <li><a rel="noopener noreferrer" th:href="@{/}" target="_blank">AAAAAA</a></li>
            <li><a rel="noopener noreferrer" th:href="@{/}" target="_blank">BBBBBB</a></li>
          </ul> */ -->

          <!-- /** <ul class="footer-list-02" style="margin-bottom: 19px;">
            <li><a th:href="@{/}">CCCCC</a></li>
            <li><a th:href="@{/}">DDDDD</a></li>
            <li><a th:href="@{/}">EEEEE</a></li>
            <li><a class="is-blank" rel="noopener noreferrer" th:href="@{/}" target="_blank">お問い合わせ</a></li>
          </ul> */ -->
          <!-- /** <ul class="footer-list-02">
            <li><a th:href="@{/}">DDDD</a></li>
            <li><a id="newWindowFooter" class="is-blank" rel="noopener noreferrer" th:href="@{/}" target="_blank">ご利用ガイド</a></li>
          </ul> */ -->
        </div>
    </div>
    <p class="coppy-right">Copyright© EnjoyGolf24 All rights reserved.</p>
  </div>
  </footer>
</div>
</body>
</html>
