<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layout/layout-front-main}">
<head>
	<title>ニュースリリース｜エンジョイゴルフ24</title>
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta property="og:image" content="http://">
</head>
<div layout:fragment="content"><!-- /** layout contents start */ -->

<div class="pagetitle _news">  
  <h1>ニュースリリース</h1>
</div>  

<main id="local">
  <div class="inner">
    
  <section class="bread">
    <ol vocab="https://schema.org/" typeof="BreadcrumbList">
      <li property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" href="/">
          <span property="name">ホーム</span></a>
        <meta property="position" content="1">
      </li>
      <li property="itemListElement" typeof="ListItem">
        <span property="name">ニュースリリース</span>
        <meta property="position" content="2">
      </li>
    </ol>    
  </section>
  
    
  <div class="column_wrap" id="news">  
    
    <div class="column_main">
      <section id="news_list">
        <ul class="newslabel">
          <li class="all">すべて</li>
          <li class="info">お知らせ</li>
          <li class="event">イベント</li>
        </ul>
        
        <div class="frame">
          <h2 id="y2020">2020年</h2>
          <ul class="newslist">
            <li>
              <div class="date">2020年09月14日</div>
              <em class="all">すべて</em>
              <div class="text"><a th:href="@{/public/news/details}">エンジョイゴルフ24がグランドオープンします。</a></div>
            </li>
            <li>
              <div class="date">2020年09月14日</div>
              <em class="info">お知らせ</em>
              <div class="text"><a th:href="@{/public/news/details}">エンジョイゴルフ24がグランドオープンします。</a></div>
            </li>
            <li>
              <div class="date">2020年09月14日</div>
              <em class="event">イベント</em>
              <div class="text"><a th:href="@{/public/news/details}">エンジョイゴルフ24がグランドオープンします。</a></div>
            </li>
          </ul>
        </div>
        
      </section>


    </div>
    <div class="column_sub">
      <nav class="sidenavi">
        <h3>ニュースリリース</h3>
        <ul>
          <li><a href="#y2020">2020年</a></li>
        </ul>
      </nav>
    </div>
  </div>
    
    

  </div>
</main>

</div>

</body>
</html>
