<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enjoygolf24.api.common.database.mybatis.repository.PointMapper">
    
    <select id="getHistoryList" resultType="com.enjoygolf24.api.common.database.mybatis.bean.PointHistoryListManage">
    	select *
        from 
            (
             select * 
             		, cast(start_date as date) as startDateFormatted
                    , cast(register_date as date) as registerDateFormatted
             from tbl_point_manage
             <where>
             <if test="memberCode != null and memberCode != ''">
             and member_code = #{memberCode}
             </if>
             <if test="registerUserCode != null and registerUserCode != ''">
             and register_user = #{registerUserCode}
             </if>
             <if test="registeredMonth != null and registeredMonth != ''">
             and EXTRACT(YEAR FROM register_date) || '-' || EXTRACT(MONTH FROM register_date) = #{registeredMonth}
             </if>
             <if test="startMonth != null and startMonth != ''">
			 and EXTRACT(YEAR FROM start_date) || '-' || EXTRACT(MONTH FROM start_date) = #{startMonth}
             </if>
             </where>
             )p
             inner join
             	(select
             	  member_code as registerUserCode
             	 ,last_name || '　' ||first_name as registerUserName
             	 from tbl_user
             	 where
             	 	member_type_cd = '01'	
             	 	<if test="registerUserName != null and registerUserName != ''">
		                and CONCAT(last_name,first_name) like CONCAT('%',REPLACE(#{registerUserName},'%','¥%'),'%') ESCAPE '¥'
		                or CONCAT(last_name_kana,first_name_kana) like CONCAT('%',REPLACE(#{registerUserName},'%','¥%'),'%') ESCAPE '¥'
		            </if>
             	)m
             on p.register_user = m.registerUserCode
             inner join 
                (select
                  *
                 from tbl_user
                 <where>
	                 <if test="aspCode != null and aspCode != ''">
	                 and asp_code = #{aspCode}
	                 </if>
	                 <if test="name != null and name != ''">
		                and CONCAT(last_name,first_name) like CONCAT('%',REPLACE(#{name},'%','¥%'),'%') ESCAPE '¥'
		                or CONCAT(last_name_kana,first_name_kana) like CONCAT('%',REPLACE(#{name},'%','¥%'),'%') ESCAPE '¥'
		            </if>   
		            and member_type_cd != '01'        
                 </where>
                )u
             on p.member_code = u.member_code
             inner join
                 (select
                    cd
                    ,name AS pointTypeName
                 from code_master
                 where code_type='009'
                ) cdm
                on p.point_type = cdm.cd   
    </select>


</mapper>