<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enjoygolf24.api.common.database.mybatis.repository.PointMapper">

    <select id="getMonthlyPointBalance" resultType="java.lang.Integer">
		SELECT COALESCE(sum(consumed_point), 0)
        from tbl_point_history
        where EXTRACT(MONTH FROM start_date) = #{month}
        and category_code = '01'
        and member_code = #{memberCode}    
    </select>
    
    <select id="getCarriablePointBalance" resultType="java.lang.Integer">
		SELECT COALESCE(sum(consumed_point), 0)
		from tbl_point_history
		where 
		<![CDATA[
		start_date <= #{currentDate}
		]]>
        and category_code = '02'
		and member_code = #{memberCode}
    </select>
    
     <select id="getHistory" resultType="com.enjoygolf24.api.common.database.mybatis.bean.PointHistoryManage">
    	select *
        from 
            (
             select * 
                    , cast(start_date as date) as registerDateFormatted
             from tbl_point_history
             where member_code = #{memberCode}
             <if test="categoryCode != null and categoryCode != ''">
	            and category_code = #{categoryCode}
	            </if>
             )p
             inner join
                 (select
                    cd
                    ,name AS pointTypeName
                 from code_master
                 where code_type='007'
                ) cdm
                on p.point_code = cdm.cd   
    </select>
    
    <select id="getHistoryList" resultType="com.enjoygolf24.api.common.database.mybatis.bean.PointHistoryListManage">
    	select *
        from 
            (
             select * 
                    , cast(start_date as date) as registerDateFormatted
             from tbl_point_history
             <if test="memberCode != null and memberCode != ''">
             where member_code = #{memberCode}
             </if>
             )p
             inner join 
                (select
                  *
                 from tbl_user
                 <where>
	                 <if test="aspCode != null and aspCode != ''">
	                 and asp_code = #{aspCode}
	                 </if>
	                 <if test="name != null and name != ''">
		                and CONCAT(last_name,first_name) like CONCAT('%',REPLACE(#{name},'%','¥%'),'%') ESCAPE '¥'
		                or CONCAT(last_name_kana,first_name_kana) like CONCAT('%',REPLACE(#{name},'%','¥%'),'%') ESCAPE '¥'
		            </if>            
		            <if test="phone != null and phone != ''">
		                 and phone like CONCAT('%',REPLACE(#{phone},'%','¥%'),'%') ESCAPE '¥'
		            </if>
		            <if test="email != null and email != ''">
		                 and email like CONCAT('%',REPLACE(#{email},'%','¥%'),'%') ESCAPE '¥'
		            </if>
                 </where>
                )u
             on p.member_code = u.member_code
             inner join
                 (select
                    cd
                    ,name AS pointTypeName
                 from code_master
                 where code_type='007'
                ) cdm
                on p.point_code = cdm.cd   
    </select>


</mapper>